body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  background-color:#eee;
}

.container{
  margin: 20px auto;
  width: 270px;
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

#timer{
  background-color: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin-bottom: 15px;
  border-radius: 3em;
}
.controls{
  display: flex;
  justify-content: space-between;
}

.btn{
  background-color: #ddd;
  height: 40px;
  width: 80px;
  line-height: 40px;
  margin: 10px;
  border-radius: 2em;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.inactive{
  opacity: 0.6;
}